
@model VeryficationModel

@{
    ViewData["Title"] = "VeryficationMain";
}


<div style="margin:auto;padding:25px;max-width:500px">
    <form asp-action="VeryficationPanelMain" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Token" class="control-label">Klucz Autoryzacyjny</label>
            <input asp-for="Token" class="form-control" />
            <span asp-validation-for="Token" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Wyślij" class="btn btn-primary" />
        </div>
    </form>
</div>

@section css{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
}